.card
  display: inline-block
  width: 150px
  height: 200px
  margin: 0
  overflow: visible
  position: relative
  margin-right: 10px
  margin-bottom: 10px
  cursor: pointer

figure.front,
figure.back
  display: inline-block
  width: 100%
  height: 100%
  margin: 0
  overflow: hidden
  position: relative
  background: #fff
  border-radius: 10px
  margin-right: 10px
  margin-bottom: 10px


.theme0 figure.front,
.theme0 figure.back
  background: #addce6

figure.front
  position: absolute
  transform: perspective( 600px ) rotateY(0deg)
  backface-visibility: hidden
  transition: transform .5s linear 0s

figure.back
  position: absolute
  transform: perspective( 600px ) rotateY(180deg)
  backface-visibility: hidden
  transition: transform .5s linear 0s

.card.clicked figure.front
  transform: perspective( 600px ) rotateY(-180deg)

.card.clicked figure.back
  transform: perspective( 600px ) rotateY(0deg)

.card.clicked
  &.transparent
    opacity: 0
    transition: opacity .2s

.card img
  max-height: 75%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


.theme1 figure.back img
  max-width: 90%
  max-height: 90%

figure.front img
  max-height: 100%
  height: 100%

section.board.show
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  padding-left: 10px
  padding-top: 40px
  padding-bottom: 40px
