@import url(reset.css);
@import url(normalize.css);
@import url(fonts.css);
body {
  font-family: "Bebas", "Calibri", sans-serif;
  font-size: 10px;
  word-spacing: 0.3rem; }

h1 {
  color: #eed1cb;
  font-family: "Bebas", "Calibri", sans-serif;
  font-size: 2.7rem;
  line-height: 6.6rem;
  text-align: center; }

h2,
h3 {
  color: #d4dfe3;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center; }
  h2 span,
  h3 span {
    color: #21b4ac;
    font-size: 4.5rem;
    margin-left: 2rem; }

p,
li {
  color: #adbbbc;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 2rem; }

p {
  text-align: center; }

li {
  list-style-type: decimal; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + label {
    color: #d4dfe3;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    height: 50px;
    line-height: 2rem;
    line-height: 43px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 200px; }
    input[type="radio"] + label img {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%; }
  input[type="radio"]:checked + label {
    border: 5px solid #eed1cb; }

input[type="submit"],
button {
  background: #eed1cb;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 3px #393f4f;
  color: #393f4f;
  cursor: pointer;
  display: block;
  font-family: "Bebas", "Calibri", sans-serif;
  font-size: 27px;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: none;
  padding: 20px 120px;
  transition: transform 0.3s; }

input[type="submit"]:active,
button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
  transition: transform 0.3s; }

form.settings {
  margin-bottom: 40px; }
  form.settings fieldset {
    margin: 0 auto;
    width: 707px; }
    form.settings fieldset.choose-theme label {
      height: 125px; }
    form.settings fieldset.choose-theme input[type="radio"]:checked + label {
      height: 150px;
      width: 220px; }

form.timer-container {
  text-align: center; }
  form.timer-container input {
    background: #eed1cb;
    border-radius: 6px;
    border: none;
    color: #393f4f;
    display: inline-block;
    font-family: "Bebas", "Calibri", sans-serif;
    font-size: 27px;
    outline: none;
    padding: 20px 102px;
    text-align: center; }

.wrapper {
  background: url(../images/back.gif);
  min-width: 1000px;
  padding: 30px 0;
  min-height: 965px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.welcome-board,
.board,
.congrats-board {
  background: #707486;
  border: 5px solid #383e4e;
  margin: 0 auto;
  width: 80%; }

article ol {
  margin: 0 auto;
  padding-left: 40px;
  width: 700px; }

.welcome-board,
.board,
.end-btn,
.congrats-board,
.new-start-btn,
.timer-container {
  display: none; }
  .welcome-board.show,
  .board.show,
  .end-btn.show,
  .congrats-board.show,
  .new-start-btn.show,
  .timer-container.show {
    display: block; }

.congrats-board.show {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around; }
  .congrats-board.show img {
    width: 400px; }

.welcome-board,
.congrats-board {
  min-width: 755px; }

.board.show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-top: 40px; }

.card {
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 0 10px 10px 0;
  overflow: visible;
  position: relative;
  width: 150px; }
  .card img {
    left: 50%;
    max-height: 75%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

figure.front,
figure.back {
  backface-visibility: hidden;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  height: 100%;
  margin: 0 10px 10px 0;
  overflow: hidden;
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.5s linear 0s;
  width: 100%; }

figure.back {
  transform: perspective(600px) rotateY(180deg); }

.card.clicked figure.front {
  transform: perspective(600px) rotateY(-180deg); }
.card.clicked figure.back {
  transform: perspective(600px) rotateY(0deg); }
.card.clicked.transparent {
  opacity: 0;
  transition: opacity 0.2s; }

.theme0 figure.front,
.theme0 figure.back {
  background: #addce6; }

.theme1 figure.back img {
  max-height: 90%;
  max-width: 90%; }

figure.front img {
  height: 100%;
  max-height: 100%; }

/*# sourceMappingURL=style.css.map */
