@import url(reset.css);
@import url(normalize.css);
@import url(fonts.css);
body {
  font-family: "Bebas", "Calibri", sans-serif;
  font-size: 10px;
  word-spacing: 0.3rem; }

h1 {
  font-family: "Bebas", "Calibri", sans-serif;
  font-size: 2.7rem;
  line-height: 6.6rem;
  text-align: center;
  color: #eed1cb; }

h2,
h3 {
  color: #d4dfe3;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center; }
  h2 span,
  h3 span {
    font-size: 45px;
    color: #21b4ac;
    margin-left: 20px; }

p,
li {
  color: #adbbbc;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 20px; }

p {
  text-align: center; }

li {
  list-style-type: decimal; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + label {
    color: #d4dfe3;
    font-size: 1.2rem;
    line-height: 2rem;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 43px;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    input[type="radio"] + label img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  input[type="radio"]:checked + label {
    border: 5px solid #eed1cb; }

input[type="submit"],
button {
  background: #eed1cb;
  border: none;
  outline: none;
  font-size: 27px;
  font-family: "Bebas", "Calibri", sans-serif;
  color: #393f4f;
  padding: 20px 120px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 3px 3px #393f4f; }

input[type="submit"]:active,
button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
  transition: transform 0.3s; }

form.settings {
  margin-bottom: 40px; }
  form.settings fieldset {
    width: 707px;
    margin: 0 auto; }
    form.settings fieldset.choose-theme label {
      height: 125px; }
    form.settings fieldset.choose-theme input[type="radio"]:checked + label {
      height: 150px;
      width: 220px; }

form.timer-container {
  text-align: center; }
  form.timer-container input {
    background: #eed1cb;
    border: none;
    outline: none;
    font-size: 27px;
    font-family: "Bebas", "Calibri", sans-serif;
    color: #393f4f;
    padding: 20px 102px;
    display: inline-block;
    border-radius: 6px;
    text-align: center; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.wrapper {
  background: url(../images/back.gif);
  min-width: 1000px;
  padding: 30px 0;
  min-height: 965px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.welcome-board,
.board,
.congrats-board {
  width: 80%;
  background: #707486;
  margin: 0 auto;
  border: 5px solid #383e4e; }

article ol {
  padding-left: 40px;
  width: 700px;
  margin: 0 auto; }

.welcome-board,
.board,
.end-btn,
.congrats-board,
.new-start-btn,
.timer-container {
  display: none; }
  .welcome-board.show,
  .board.show,
  .end-btn.show,
  .congrats-board.show,
  .new-start-btn.show,
  .timer-container.show {
    display: block; }

.congrats-board.show {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .congrats-board.show img {
    width: 400px; }

.welcome-board,
.congrats-board {
  min-width: 755px; }

.card {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 0;
  overflow: visible;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer; }

figure.front,
figure.back {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

.theme0 figure.front,
.theme0 figure.back {
  background: #addce6; }

figure.front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s; }

figure.back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s; }

.card.clicked figure.front {
  transform: perspective(600px) rotateY(-180deg); }

.card.clicked figure.back {
  transform: perspective(600px) rotateY(0deg); }

.card.clicked.transparent {
  opacity: 0;
  transition: opacity 0.2s; }

.card img {
  max-height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.theme1 figure.back img {
  max-width: 90%;
  max-height: 90%; }

figure.front img {
  max-height: 100%;
  height: 100%; }

section.board.show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
